@layout LoginLayout
@page "/Logout"
@inject NavigationManager navigationManager
@inject Auth.ILoginService loginService
<h3>Cerrando sesión...</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        await loginService.Logout();
        navigationManager.NavigateTo("Login");

    }

}
